body {
    font-family: Arial, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

a, button {
    display: block;
    text-align: center;
    padding: 14px 16px;
}

#active {
    font-weight: bold;
}

#left {
    float: left;
    width: 50%;
}

#right {
    float: right;
    width: 50%;
}

#friendspanel {
    height: 440px;
    display: block;
    background-color: grey;
    margin: 20px;
    padding: 10px;
}

#chatpanel {
    height: 300px;
    display: block;
    background-color: grey;
    margin: 20px;
    padding: 10px;
}

#inputpanel {
    height: 100px;
    display: block;
    background-color: grey;
    margin: 20px;
    padding: 10px;
}

#navbar {
    width: 100%;
    padding: 20px;
}